# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf
charset = latin1

[*.cpp]
indent_style = space
indent_size = 4

[*.h]
indent_style = space
indent_size = 4

[*.rc]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 4
