Debug/
Release/
ipch/
nuget/packages/
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.aps
*.log
*.VC.opendb
*.VC.db
bin
*.class
*.db
*.opendb
/DebugView++Test/SaveLoadLogFile_unique_test_filename
/VsSDK.props
*.user
.vs/
build/
out/