<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- NOTE: Leave this file here -->
  <!-- debugview.visualstudio.com CI needs it -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="wtl" value="D:\project2\nuget\wtl\WTL_10320" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
</configuration>