<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DebugView++" Language="1033" Version="1.9.22.0" Manufacturer="CobaltFusion" UpgradeCode="dcfff531-3299-4277-b341-d044d431fff6">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<Property Id="DiskPrompt" Value="Cobalt Fusion DebugView++ Installation" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="DebugViewppSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
		<Icon Id="DebugViewPP.ico" SourceFile="$(var.SolutionDir)..\..\application\DebugViewpp\res\DebugView++.ico" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="DesktopFolder" SourceName="Desktop" />
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="DebugView++" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="ProductComponent" Guid="{0E088845-A2F6-4F45-BA2D-2752ADF4B744}">
				<File Id="ProductFile" Name="DebugViewpp.exe" Source="$(var.SolutionDir)..\..\bin\DebugViewpp.exe">
					<Shortcut Id="DesktopDebugViewPP" Directory="DesktopFolder" Name="DebugView++" WorkingDirectory="INSTALLDIR" Icon="DebugViewPP.ico" IconIndex="0" Advertise="yes" />
				</File>
				<File Id="DebugViewPPConsole" Name="DebugViewConsole.exe" Source="$(var.SolutionDir)..\..\bin\DebugViewConsole.exe" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
