<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:VSExtension="http://wixtoolset.org/schemas/v4/VSExtension">
    <?include $(var.SolutionDir)\DebugView++\version.wxi ?>

    <?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define PlatformOutDir = "x64\Release" ?>
    <?define PlatformOutDir32 = "Release" ?>
    <?else ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define PlatformOutDir = "Release" ?>
    <?define PlatformOutDir32 = "Release" ?>
    <?endif?>

    <Product Id="*" Name="DebugView++ $(var.ProductVersion.Major).$(var.ProductVersion.Minor)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Cobalt Fusion" UpgradeCode="523333bf-842d-442f-94c2-ae6caad5f714">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <Media Id="1" Cabinet="DebugViewPP.cab" EmbedCab="yes" DiskPrompt="Media" />
        <Property Id="DiskPrompt" Value="Cobalt Fusion DebugView++ Installation" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALLFOLDER" Name="DebugView++">
                    <Component Id="MainExecutable" Guid="b08d6606-883f-4661-813c-1ecbed9b65de">
                        <File Id="DebugViewPPEXE" Name="DebugView++.exe" Source="$(var.SolutionDir)\$(var.PlatformOutDir)\DebugView++.exe" KeyPath="yes">
                            <Shortcut Id="StartMenuDebugViewPP" Directory="ProgramMenuDir" Name="DebugView++" WorkingDirectory="INSTALLDIR" Icon="DebugViewPP.ico" IconIndex="0" Advertise="yes" />
                            <Shortcut Id="DesktopDebugViewPP" Directory="DesktopFolder" Name="DebugView++" WorkingDirectory="INSTALLDIR" Icon="DebugViewPP.ico" IconIndex="0" Advertise="yes" />
                        </File>
                        <File Id="DebugViewPPConsole" Name="DebugViewConsole.exe" Source="$(var.SolutionDir)\$(var.PlatformOutDir)\DebugViewConsole.exe" />
                        <File Id="DebugViewPPForwarder" Name="OutputForwarderVSIX.vsix" Source="$(var.SolutionDir)\$(var.PlatformOutDir32)\OutputForwarderVSIX.vsix" />

                        <ProgId Id="CobaltFusion.DebugViewPPLog" Description="DebugView++ File">
                            <Extension Id="dblog">
                                <!--
                                // Argument='"%1"' using the outside-singlequotes, includes the double-quotes in the argument, this is required for paths with spaces
                                -->

                                <Verb Id="open" Command="open" TargetFile="DebugViewPPEXE" Argument='"%1"'/>
                            </Extension>
                            <Extension Id="dbconf" />
                        </ProgId>
                    </Component>
                    <Directory Id="PLUGINS" Name="debugview++plugins">
                        <Component Id="HTTPMONITOR_PLUGIN" DiskId="1" Guid="3ae28137-a48e-48a2-ba4d-d6a35eebdedb">
                                <RemoveFolder Id="PLUGINS" On="uninstall" />
                                <File Id="HTTPMONITOR_PLUGIN" Name="HttpMonitor.exe" Source="$(var.SolutionDir)\$(var.PlatformOutDir32)\debugview++plugins\HttpMonitor.exe" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="DebugView++">
                    <Component Id="ProgramMenuDir" Guid="fac89b2e-d1e8-414c-a064-4bfdc99a39e7">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="uninstall" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
            <Directory Id="PersonalFolder" Name="PersonalFolder">
                <Directory Id="FILTERS" Name="DebugView++ Filters">
                    <Component Id="SYSTEMNOISEFILTER.XML" DiskId="1" Guid="ebd4b38a-5a32-4b7a-92f8-e615823e7112">
                        <RemoveFolder Id="FILTERS" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="filters" KeyPath="yes" />
                        <File Id="SYSTEMNOISEFILTER.XML" Name="SystemNoiseFilter.xml" Source="$(var.SolutionDir)\DebugView++\Filters\SystemNoiseFilter.xml" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="FeatureMainExecutable" Title="DebugView++ Executable" Level="1">
            <ComponentRef Id="MainExecutable" />
        </Feature>
        <Feature Id="FeatureProgramMenuDir" Title="Add to Start menu" Level="1">
            <ComponentRef Id="ProgramMenuDir" />
        </Feature>
        <!--
        <Feature Id="FeatureVisualStudioOWFExtension" Title="Install Visual Studio Output Window Forwarder" Level="10">
        <ComponentRef Id="VisualStudioOWF" />
        </Feature>
        -->
        <Feature Id="FeatureDebugviewppFilters" Title="XML Filters" Level="1">
            <ComponentRef Id="SYSTEMNOISEFILTER.XML" />
        </Feature>
        <Feature Id="FeatureDebugviewppPlugins" Title="Debugview++ plugins" Level="1">
            <ComponentRef Id="HTTPMONITOR_PLUGIN" />
        </Feature>
        <Property Id="ARPPRODUCTICON" Value="DebugViewPP.ico" />

        <UI>
            <!--  CFWixUI_FeatureTree is a customized UI that can install the Visual Studio extention, however, it does not uninstall the extention at all,
            as if Permanent="yes" was set. Until we find out why, I disabled the UI completely.
            -->

            <!--  <UIRef Id="CFWixUI_FeatureTree" />  -->
        </UI>
        <Icon Id="DebugViewPP.ico" SourceFile="$(var.SolutionDir)\DebugView++\res\DebugView++.ico" />
    </Product>

    <!-- see: http://blog.majcica.com/2015/02/04/installing-vsix-package-via-wix-installer/ -->
    <!--
    <Fragment>
    <Component Id="VisualStudioOWF" Guid="3CBE1BE9-42EB-4F04-96AF-58EAD5D9827D" Directory="INSTALLFOLDER">
    <VSExtension:VsixPackage File="OutputForwarderVSIX.vsix" PackageId="48C6483D-573B-4FBF-AADC-2F25CCB4AFB3" Vital="no" Permanent="no" />
    <File Id="OutputForwarderVSIX.vsix" Name="$(var.OutputForwarderVSIX.TargetName).vsix" Source="$(var.OutputForwarderVSIX.TargetDir)$(var.OutputForwarderVSIX.TargetName).vsix" Hidden="no" />
    </Component>
    </Fragment>
    -->

</Wix>
